<!DOCTYPE html>
<html>
  <head>
    <title>CS3300</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>  

  <body>

  <nav class="navbar navbar-expand-sm navbar-dark bg-dark fixed-top">

    <div class="container-fluid">

      <a class="navbar-brand" href="/projects">CS3300 Travis Bossio</a>
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" href="/projects">Projects</a>
        </li>
        <% if !user_signed_in? %>
          <li class="nav-item">
            <a class="nav-link" href="/users/sign_in">Sign In</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/users/sign_up">Sign Up</a>
          </li>
        <% else %>
          <li class="nav-item">
          <a class="nav-link" href="/projects/new">New Project</a>
          </li>
          <li class="nav-item">
            <%= link_to "Sign Out", destroy_user_session_path, :method => :delete, class: "nav-item nav-link" %>
          </li>
        <% end %>
      </ul>

      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
        <a class="nav-link" href="/about">About</a>
        </li>
      </ul>

    </div>
  </nav>

  <div class="border-top fixed-bottom text-center bg-light">
    <p>(360)791-6660 | travismbossio@gmail.com</p1>
  </div>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
